<div class="container">
  <h1>Welcome to our KRitly!</h1>
  <p>NO, IT ISN'T BITLY. ITS DIFFERENT. KRitly.</p>

<h2>See current short URLS!</h2>
<a href='/urls/list'>List View</a>

</div>










<!--     <label for="first_name">First Name: </label>
    <input id="first_name" type="text" name="user[first_name]" 
</div> -->
