<div class="container">
  <h1>Welcome to our KRitly!</h1>
  <p>NO, IT ISN'T BITLY. ITS DIFFERENT. KRitly.</p>

<h2>Create New Account</h2>
<table>
  <li>
    <label for="first_name">First Name: </label>
    <input id="first_name" type="text" name="user[first_name]" value="<%=@user.try(:first_name) %>">
</table>
</div>
